<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {{> header}}
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat commodi
        temporibus quo illum dolorum. Libero ratione, eligendi quas animi
        voluptatum magnam iste eveniet, autem quisquam asperiores repudiandae
        repellat illo numquam.
    </p>

    {{> footer}}
</body>
</html>
