<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  {{> header}}
  <h1>Oops!</h1>
  <p>This page is currently under maintenance.</p>
  {{> footer}}
</body>
</html>
